[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
signalrcore = "*"
mysql-connector-python = "*"
mysqlclient = "*"
mysql = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python src/main.py"
test = "python3 -m unittest discover -s ./test"
lint = "pylint src/ --fail-under=8"
format= "black src/"
format-check = "black --check src/"
